/* Hankyu Blue:   #12163b */
/* Hankyu Maroon: #451c1d */
/* Hankyu Ivory:  #ddd1be */
/* White:         #fbfaee */
/* Arrow Red:     #e13349 */

body {
  background-color: #fbfafe;
  color:            #12163b;
  font-family:      Helvetica Neue, Helvetica, Arial, sans-serif;
  padding:          0;
  margin:           0;
}

header {
  background-color: #12163b;
  color:            #fbfaee;
  height:           200px;
  width:            100%;
  vertical-align:   middle;
  display:          table;
  white-space:      nowrap;

  background:       #12163b;
  background:       -moz-linear-gradient(top, #1d1719 0%, #252140 5%, #252140 48%, #252140 95%, #1d1719 100%);
  background:       -webkit-linear-gradient(top, #1d1719 0%,#252140 5%,#252140 48%,#252140 95%,#1d1719 100%);
  background:       linear-gradient(to bottom, #1d1719 0%,#252140 5%,#252140 48%,#252140 95%,#1d1719 100%);
  filter:           progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1719', endColorstr='#1d1719',GradientType=0 );
}

header div.headerContent {
  vertical-align:   middle;
  display:          table-cell;
}

header a {
  color:            #fbfaee;
  text-decoration:  none;
  text-shadow:      0 0 0.005em #8883a6, 0 0 0.1em #a6a0ca, 0 0 0.2em #6b6883, 0 0 0.4em #928db2, 0 0 0.8em #696580;
}

header h1 {
  text-align:       center;
  vertical-align:   middle;
  text-transform:   uppercase;
  font-size:        6em;
  font-weight:      normal;
  margin:           0;
  padding:          0;
}

header ul {
  text-align:       center;
  list-style-type:  none;
  vertical-align:   middle;
  margin:           0;
  padding:          0;
}

header li {
  display:          inline;
}

div#content {
  width:            450px;
  margin:           auto;
}

h2.episodeTitle {
}

h3.pubDate {
  text-align:       right;
  font-style:       italic;
  font-weight:      normal;
  font-size:        0.8em;
}

div#content h2 a {
  color:            #12163b;
}

div#content h2 a:visited {
  color:            #12163b;
}

div#content a {
  color:            #c5182F;
  text-decoration:  none;
}

div#content a:visited {
  color:            #c5182f;
  text-decoration:  none;
}

div#content a:hover {
  color:            #c5182f;
  text-decoration:  none;
}

div.episode {
  padding-top:      25px;
  padding-bottom:   25px;
}

audio {
  width:            100%;
}

footer {
  text-align:       center;
  font-size:        0.75em;
  padding-bottom:   25px;
}

div.about h1 {
  text-align:       center;
}

div.archive h1 {
  text-align:       center;
}

div.archive span.pubDate {
  text-align:       right;
  font-style:       italic;
  font-size:        0.8em;
  float:            right;
}

ul.archive {
  list-style-type:  none;
}

ul.archive li {
}

/* Responsive stuff */

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 15vw;
  }

  div#content {
    width:     80%;
    margin:    auto;
  }
}

