{% extends "base.html" %}
{% block content %}
      <div class="about">
        <h1>About the Podcast</h1>

        <p>Alex May and Dani Wright used to work together, making videogames in
        Kyoto, and spend their commute on the Hankyu train discussing all manner
        of topics&mdash;games, of course, but also design, typography, mechanical
        watches, philosophy, and life in Japan.  Now that Dani has moved to
        California, the conversation continues here, on the <i>Station 13</i>
        podcast.</p>

        <h1>Feedback</h1>

        <p> If you have any thoughts or comments about anything we talk about on
        the podcast, we'd love to hear it!  You can tweet Alex <a
        href="https://twitter.com/ATYPE808">@ATYPE808</a>, Dani <a
        href="https://twitter.com/danielpwright">@danielpwright</a>, or the show as
        a whole <a href="https://twitter.com/Station13FM">@Station13FM</a>.  You
        can also email us at <a
        href="mailto:hello@station13.fm">hello@station13.fm</a>.</p>

        <p>If you do choose to contact us, we may decide to mention it on the
        show.  If you would prefer we didn't, please let us know.  In general
        we'll refer to you by your twitter handle or your first name, but if
        you have a handle you'd rather we use, or you don't want us to mention
        a name at all, just say the word!</p>
      </div>
{% endblock %}
