<html>
  <head>
    <title>
      {{ podcastTitle }}
    </title>
    <link rel="stylesheet" href="../station13.css">
  </head>
  <body>
    <div id="header">
      <div class="headerContent">
        <h1><a href="#">{{ podcastTitle }}</a></h1>
        <ul>
          <li><a href="https://itunes.apple.com/us/podcast/station-13/id1240319438">iTunes</a></li>
          <li><a href="http://station13.libsyn.com/rss">RSS</a></li>
          <li><a href="#">Archive</a></li>
          <li><a href="../feedback">Feedback</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="archive">
        <h1>Episode archive</h1>
        <ul class="archive">
        {% for episode in episodes %}
        <li><a href="../{{episode.index}}">{{ episode.content.title }}</a>
            <span class="pubDate">{{ episode.date }}</span></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div id="footer">
      &copy; {{ copyright }}
    </div>
  </body>
</html>
