<html>
  <head>
    <title>
      {{ podcastTitle }}{% if pageTitle %} | {{pageTitle}}{% endif %}
    </title>
    <link rel="stylesheet" href="/station13.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="apple-itunes-app" content="app-id=1240319438">
    <meta property="og:site_name" content="{{ podcastTitle }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }}{% else %}{{ podcastTitle }}{% endif %}">
    <meta property="og:url" content="{{ link }}">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="{% if pageTitle %}{{ pageTitle }}{% else %}{{ podcastTitle }}{% endif %}">
    <meta itemprop="url" content="{{ link }}">
    <meta itemprop="description" content="{{ description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ show.twitter }}">
    <meta name="twitter:title" content="{{ podcastTitle }}{% if episode.title %} | {{ episode.title }}{% endif %}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <meta name="description" content="{{ description }}">
  </head>
  <body>
    <div id="header">
      <div class="headerContent">
        <h1><a href="/">{{ podcastTitle }}</a></h1>
        <ul>
          <li><a href="{{ show.iTunesLink }}">iTunes</a></li>
          <li><a href="{{ show.rssFeed }}">RSS</a></li>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      &copy; {{ copyright }}
    </div>
  </body>
</html>
