<html>
  <head>
    <title>
      {{ podcastTitle }}
    </title>
    <link rel="stylesheet" href="station13.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="header">
      <div class="headerContent">
        <h1><a href="#">{{ podcastTitle }}</a></h1>
        <ul>
          <li><a href="https://itunes.apple.com/us/podcast/station-13/id1240319438">iTunes</a></li>
          <li><a href="http://station13.libsyn.com/rss">RSS</a></li>
          <li><a href="archive">Archive</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      {% for episode in episodes %}
        <div class="episode">
          <h2 class="episodeTitle"><a href="{{episode.index}}">{{ episode.content.title }}</a></h2>
          <audio controls>
            <source src="{{episode.mp3url}}" type="audio/mpeg" />
          </audio>
          {{ episode.content.description }}
          <h3 class="pubDate">{{ episode.date }}</h3>
        </div>
      {% endfor %}
    </div>
    <div id="footer">
      &copy; {{ copyright }}
    </div>
  </body>
</html>
